.footer-links-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.footer-links-login-form > a {
  font-size: 14px;
  color: #86522d;
  text-decoration: underline;
}

.footer-links-login-form > p {
  font-size: 14px;
  color: #847062;
}

.footer-links-login-form > p > a {
  font-size: 14px;
  color: #86522d;
  font-weight: 600;
  text-decoration: underline;
}

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: hsl(35 25% 90%);
}

.login-page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.login-page-title > h1 {
  font-size: 30px;
  color: #86522d;
  font-weight: 700;
}

.login-page-title > p {
  font-size: 16px;
  color: #847062;
}
