.footer-links-login-form,
.footer-links-signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.footer-links-login-form > a,
.footer-links-signup-form > a {
  font-size: 14px;
  color: #86522d;
  text-decoration: underline;
}

.footer-links-login-form > p,
.footer-links-signup-form > p {
  font-size: 14px;
  color: #847062;
}

.footer-links-login-form > p > a,
.footer-links-signup-form > p > a {
  font-size: 14px;
  color: #86522d;
  font-weight: 600;
  text-decoration: underline;
}

.login-page,
.signup-page {
  min-height: 100vh;
  width: 100vw;
  padding-top: 100px;
  background-color: hsl(35 25% 90%);
}

.login-page-content,
.signup-page-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.login-page-title,
.signup-page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.login-page-title > h1,
.signup-page-title > h1 {
  font-size: 30px;
  color: #86522d;
  font-weight: 700;
}

.login-page-title > p,
.signup-page-title > p {
  font-size: 16px;
  color: #847062;
}
